<h1>Clifton.JS</h1>
<h3>A 5ive Prime Design Abomination</h3>
<br/>
<div>
<ul class="list-group" id="information">
	<li class="list-group-item"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-cloud"></span></button> <span>5iveprime.com</span></li>

	<li class="list-group-item"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-cloud"></span></button> <span>Flypapr.xyz</span></li>
	
	<li class="list-group-item"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-cloud"></span></button> <span>Sbatty.pw</span></li>

	<li class="list-group-item"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-envelope"></span></button> <span>Info@5iveprime.com</span></li>

	<li class="list-group-item"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-envelope"></span></button> <span>Instagram: 5iveprimedesign</span></li>

	<li class="list-group-item"><button type="button" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-envelope"></span></button> <span>Twitter: @5iveprimedesign</span></li>



</ul>
