<!--Jumbotron-->

<div class="jumbotron">

  	<h1>Clifton.JS</h1>

  	<p class="lead">
    	
    	<img src="images/logo.png" alt="Clifton Logo">

    	<br>
  		
  		<h4>A responsive solution that's defnitely So - Lo - Mo</h4>
  		
  		<br>
	  
</div><!--./jumbo-->


<!--begin code snippet section-->

<div class="row marketing text-center" id="start">
<div class="panel-heading">

		<h3 class="panel-title"><h3>Get Started</h3>

</div>
	<div class="panel-heading">
    
    	<h3 class="panel-title">NPM</h3>
 	</div>
  
<div class="panel-body">
  
	<code>npm install --global clifton</code>
  
</div>

<div class="panel-heading">

	<h3 class="panel-title">BOWER</h3>

</div>

<div class="panel-body">

  <code>bower install --save clifton</code>

</div>

<br>

<!--instruction panels-->
<div id="instruction">
	
		
		<p><h4>See the <a ng-href="#/docs">Docs</a> for full installation instructions</h4></p>

		<P><h4>Fork us on <a href="https://github.com/five-prime/cliftonjs">Github</a></h4></P>

	<br>

</div><!--./instruction-->

<div class="contact">

	<div class="panel-heading">

		<h3 class="panel-title"><h3>The Clifton Team</h3>

</div>

<div class="panel-body contact">
  
	<div class="container-fluid">
  		
  		<!--contact card 1-->
  		<div class="row">
  
  			<div class="col-md-3">
  
  				<img src="http://placehold.it/150x150"  class="img-responsive img-circle" >
  
  			</div>
  
  			<div class="col-md-9 info">
  				<h3>Tony C</h3>

  				<h4>Lead developer</h4>

				<br>
  			
  				<div class="row">
  			
  					<div class="col-md-4"><a href="/">Twitter</a></div>
  					<div class="col-md-4"><a href="/">Facebook</a></div>
  					<div class="col-md-4"><a href="/">E-mail</a></div>
  			
  				</div><!--./social-row-->
			</div>

  		</div><!--./row-->
  	
  		<hr>

  		<!--contact card 2-->
  		<div class="row">
  
  			<div class="col-md-3">
  
  				<img src="http://placehold.it/150x150"  class="img-responsive img-circle" >
  
  			</div>
  
  			<div class="col-md-9 info">
  				<h3>Andy K</h3>

  				<h4>Man on the moon</h4>

				<br>
  			
  				<div class="row">
  			
  					<div class="col-md-4"><a href="/">Instagram</a></div>
  					<div class="col-md-4"><a href="/">Twitter</a></div>
  					<div class="col-md-4"><a href="/">E-mail</a></div>
  			
  				</div><!--./social-row-->
			</div>

  		</div><!--./row-->
		<hr>
  		<!--contact card 3-->
  		<div class="row">
  
  			<div class="col-md-3">
  
  				<img src="http://placehold.it/150x150"  class="img-responsive img-circle" >
  
  			</div>
  
  			<div class="col-md-9 info">
  				<h3>Bobby Z</h3>

  				<h4>CEO, CTO, CFO</h4>

				<br>
  			
  				<div class="row">
  			
  					<div class="col-md-4"><a href="/">LinkedIn</a></div>
  					<div class="col-md-4"><a href="/">Facebook</a></div>
  					<div class="col-md-4"><a href="/">E-mail</a></div>
  			
  				</div><!--./social-row-->
			</div>

  		</div><!--./row-->
</div>
</body>
</html>